body {
    background-color: #e2e1e0;
}

img {
    max-height: 750px;
    max-width: 500px;
    display: flex;
}

.card {
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
}

.list-group-item {
    background-color: transparent;
    font-size: 1.3em;
}

.card-body .card-text {
    font-size: 1.4em;
}

.card-title {
    font-family: 'Oswald', sans-serif;
}

.bg-img {
    background-image: linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-size: 100% 100%;
}

.container {
    height: 100vh;
    padding: 0 85px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}